body{
    position: relative;
}
h1, h2{
    text-align: center;
}
.description, .result{
    width: 500px;
    height: 200px;
    background-color: rgb(221, 245, 115);
    z-index: 1000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -250px;
    padding: 5px;
    border: 2px solid rgb(68, 83, 1);
}
.button{
    width: 120px;
    margin: 10px auto;
}
button{
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 17px;
    margin-top: 5px;
    background-color: rgb(253, 225, 99);
    border: 1px solid rgb(241, 100, 81);
}
.button button{
    width: 100%;
}