.container{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: rgb(209, 252, 234);
}
.panel_button{
    border: 1px solid green;
    background-color: rgb(192, 253, 99);
    margin-right: 5px;
}